<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>動画コマース　デモ</title>
  <link rel="stylesheet" href="css/pc.css">
</head>
<body>
  <main class="wrapper">
    <div id="app" class="inner">
      <h1>動画コマースの紹介</h1>
      <h2 class="subtitle">動画コマースとは</h2>
      <p>
        動画を視聴したまま直接商品を購入できる新たな通販システム。
        <br>
        例えば、下の動画のように動画視聴中にテントをクリックすると商品詳細が現れたり、商品ページに飛べるようなもの。
        <br>
        よく似たものに動画をECサイト内に埋め込むだけの『動画EC』や、インスタライブ等でライブ中継しながら商品を紹介する『ライブコマース』がある。
      </p>
      <a href="https://douga-kanji.com/posts/movie-commerce" target="_blank">参考ページ</a>

      <h2 class="subtitle">動画コマースのメリット</h2>
      <p>
        <span class="strong-text">グッときてハッとしてパッと買えちゃう！</span>
        <br>
        顧客が「コレいいな」「気になる」と思った瞬間を逃さない。
        <br>
        通常の動画の場合、視聴中に気になる商品があっても、視聴後に動画使用商品一覧などから探すか、視聴途中に商品ページへ飛ぶという選択になる。
        しかし、これでは感情が揺さぶられてから商品詳細を見るまでに時差が発生し、詳細ページにたどり着くまでに購入意欲が低下するか、最悪その感動を忘れてしまう。
        <br>
        動画コマースは視聴中でも気になる商品の詳細確認やページ遷移、あとで見るなどが選択できるため、顧客の感動から購入までの導線を短くできる。
      </p>

      <h2 class="subtitle">TIGコマース</h2>
      <p>
        以上で紹介した動画コマースを、パロニム社で開発した次世代インタラクティブ動画技術であるTIGを活用して開発し、サービス化したもの。
        <br>
        動画内にクーポンを仕込むなど、視聴維持の工夫をすることで離脱率52.8%(通常動画5%)を記録。
        <br>
        <a href="https://www.arts-crafts.co.jp/post-4711/" target="_blank">参考ページ</a>
      </p>
      <h3>TIGコマースの他社事例</h3>
      <p>
        2020年5月：<a href="https://www.paronym.jp/usecase/3282/" target="_blank">ニトリ　ウチソト</a>
        <br>
        2016年?：<a href="https://mil.movie/interview/925.html">JackBunny!!</a>
        <br>
        ??年：<a href="https://mil.movie/interview/4886.html">RUNA!</a> 
      </p>

      <h2 class="subtitle">TIGライブ</h2>
      <p>
        動画コマースをライブコマースに転用したサービス。恐らく、顧客のコメントから要望商品のアイコンを出現させ、ライバーが説明することなく詳細を知ることができるもの。
        <a href="https://senken.co.jp/posts/paronym-210827" target="_blank">参考ページ</a>
      </p>

      <h2 class="subtitle">実際に作ってみた</h2>
      <h3>実装機能</h3>
      <ul class="list">
        <li>
          動画中の家具が移っているタイミングに注釈を出現
        </li>
        <li>
          注釈をクリックすると商品詳細が現れる
        </li>
        <li>
          お気に入り☆ボタンを押すと後で閲覧可能
        </li>
      </ul>
      <h3>作ってみて分かったこと</h3>
        <ul class="list">
          <li>
            家具が表示されている尺が短すぎるとクリックが難しい
          </li>
          <li>
            デザインやアニメーションが気持ち良い方がゲーム感覚で楽しんでもらえそう
          </li>
          <li>
            商品が画面内を大きく動く場合は追従が必要だが、少しハードルが高い
          </li>
          <li>
            スマホで全画面表示されると機能が使えなくなる(何かしら対応方法がありそう)
          </li>
        </ul>
      <div class="movie-wrapper">
        <video id="movie" controls="controls" loop width="800" height="358" class="movie">
          <source src="https://static.low-ya.com/features/outdoor/pc/mv_video.mp4">
        </video>
        <button v-on:click="favoriteProducts.length>0?checkProducts():'none'" class="favorite-item-number">{{favoriteProducts.length}}</button>
        <ul>
          <li v-for="(product, index) in products">
            <div :id="`hotspot-${index}`" :class="`button-wrapper-${index}`" hidden>
              <component :is="'style'">
                .button-wrapper-{{index}}{
                  position: absolute;
                  top: {{product.position[0]}}px;
                  left: {{product.position[1]}}px;
                }
              </component>
              <button v-on:click="onClick(index)" class="button"/>
            </div>
            <div :id="`detail-box-${index}`" :class="`detail-box-wrapper-${index}`" hidden>
              <component :is="'style'">
                .detail-box-wrapper-{{index}}{
                  transition: 0.5s;
                  position: absolute;
                  top: {{detailBoxPosition[0]}}%;
                  left: {{detailBoxPosition[1]}}%;
                }
              </component>
              <div class="detail-box-inner">
                
                <ul class="detail-button-list">
                  <li v-on:click="favorite(index)" class="detail-button-item">
                    <p v-if="product.isFavorite">★</p>
                    <p v-else>☆</p>
                  </li>
                  <li v-on:click="quiteDetail(index)" class="detail-button-item">X</li>
                </ul>
                <a :href="product.link" target="_blank" class="detail-link">
                  <img :src="product.img" :alt="product.alt" width="170" height="170" class="detail-img">
                  <p class="detail-name">{{product.name}}</p>
                  <div class="detail-price-wrapper">
                    <p>￥{{product.price}}</p>
                    <p v-if="product.isFreePostage" class="detail-postage">送料無料</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
        </ul>
        <div id="check-favorite-product" class="check-product-wrapper" hidden>
          <ul class="check-product-list">
            <template v-for="favoriteProduct in favoriteProducts">
              <li v-if="favoriteProduct" class="check-product-item">
                <component :is="'style'">
                  .check-product-item{
                    right: {{rightSpace}}px
                  }
                </component>
                <a :href="favoriteProduct.link" target="_blank" class="detail-link">
                  <img :src="favoriteProduct.img" :alt="favoriteProduct.alt" width="170" height="170" class="detail-img">
                  <p class="detail-name">{{favoriteProduct.name}}</p>
                  <div class="detail-price-wrapper">
                    <p>￥{{favoriteProduct.price}}</p>
                    <p v-if="favoriteProduct.isFreePostage" class="detail-postage">送料無料</p>
                  </div>
                </a>
              </li>
            </template>
            <button v-on:click="quiteCheckProducts()" class="check-product-quit-button">X</button>
            <button v-if="isShowNextButton" v-on:click="nextProduct()" class="check-product-next-button"></button>
            <button v-if="isShowBackButton" v-on:click="backProduct()" class="check-product-back-button"></button>
          </ul>
        </div>
      </div>
      <p id="movie-time"></p>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
